alembic~=1.19.0
apscheduler~=3.11.3
cvss~=3.6
fastapi[standard]~=0.141.1
httpx~=0.28.1
joserfc~=1.7.4
packaging~=26.3
psycopg2-binary~=2.9.12
pydantic[email]~=2.13.4
redis~=8.1.0
sqlalchemy~=2.0.51
uvicorn[standard]~=0.52.1
